body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1;
  background-color: #6988a7;
}

textarea {
  background: transparent;
  border-color: black;
  resize: none;
  color: #000000;
  border: 1px solid black;
  padding: 10px;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 25px;
}

.header {
  text-align: center;
  background-color:  #6988a7;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #6dbfd3;;
  border: 1px solid black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #000000;
  font-size: 20px;
 
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: yellow;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn-1, .saveBtn-2, .saveBtn-3 {
  border: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #6dbfd3;
  color: black;
}

.saveBtn-1, .saveBtn-2, .saveBtn-3 i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.noti-1, .noti-2, .noti-3{
  display: none;
  padding-bottom: 10px;
  color: black;
}

.show {
  display: block;
}
